<div class="spinner-flex" *ngIf="showSpinner == true; else section">
  <mat-spinner mode="indeterminate"></mat-spinner>
</div>

<ng-template #section>
  <section class="main margib-top-10">
    <div class="padding-body margin-bottom-5">
      <mat-card class="example-card">
        <mat-card-header class="card-header">
          <mat-card-title>{{person.nome}}</mat-card-title>
          <mat-card-subtitle>{{person.idade}} anos - {{person.sexo}}</mat-card-subtitle>
          <mat-card-subtitle>Vivo: {{person.vivo == true ? "Sim" : "Não"}}</mat-card-subtitle>
        </mat-card-header>
        <div class="image-width">
          <ng-content *ngIf="person.urlFoto != null; else img"></ng-content>
          <img mat-card-image class="size-image" [src]="person.urlFoto" alt="Foto pessoa desaparecida">
          <ng-template #img>
            <img src="assets/img/no-image.png" class="size-image" alt="Foto pessoa">
          </ng-template>
        </div>
        <mat-card-content>
          <div>
            <h3 class="text-center">Dados desaparecimento</h3>
          </div>
          <div>
            <p class="justify">
              Local desaparecimento: {{person.ultimaOcorrencia.localDesaparecimentoConcat}}
            </p>
            <p class="justify">
              Desaparecimento: {{person.ultimaOcorrencia.dtDesaparecimento | date: 'dd/MM/yyyy hh:mm:ss a'}}
            </p>
            <p class="justify">
              Localização: {{person.ultimaOcorrencia.dataLocalizacao | date: 'dd/MM/yyyy hh:mm:ss a'}}
            </p>
            <p class="justify">
              Encontrado Vivo: {{person.ultimaOcorrencia.encontradoVivo == true ? "Sim" : "Não"}}
            </p>
          </div>
          <ng-container #information
            *ngIf="person.ultimaOcorrencia.ocorrenciaEntrevDesapDTO != undefined && person.ultimaOcorrencia.ocorrenciaEntrevDesapDTO != null">
            <div>
              <p class="justify">
                Vestimentas: {{person.ultimaOcorrencia.ocorrenciaEntrevDesapDTO.vestimentasDesaparecido}}
              </p>
            </div>
            <div>
              <h4 class="text-center">Informação</h4>
            </div>
            <div>
              <p class="justify">{{person.ultimaOcorrencia.ocorrenciaEntrevDesapDTO.informacao}}</p>
            </div>
          </ng-container>
          <ng-container *ngIf="person.ultimaOcorrencia.listaCartaz.length > 0">
            <div>
              <h4 class="text-center">Cartaz</h4>
            </div>
            <div *ngIf="person.ultimaOcorrencia.listaCartaz[person.ultimaOcorrencia.listaCartaz.length - 1].urlCartaz != null" class="image-width">
              <img mat-card-image class="size-image-cartaz" [src]="person.ultimaOcorrencia.listaCartaz[person.ultimaOcorrencia.listaCartaz.length - 1].urlCartaz" alt="Cartaz pessoa desaparecida">
            </div>
          </ng-container>
        </mat-card-content>
        <mat-card-actions>
          <share-buttons theme="material-dark"
            image="https://loremflickr.com/320/240"></share-buttons>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</ng-template>
