.margib-top-10 {
  margin-top: 10px;
}

.card-header {
  width: 100%;
  justify-content: center;
}

.image-width {
  width: 100%;
  display: flex;
  justify-content: center;
}

.size-image {
  width: 30em;
  height: 30em;
  max-width: 100%;
  padding-left: 2px;
  padding-right: 2px;
}

.size-image-cartaz {
  width: 25em;
  height: 25em;
  max-width: 100%;
  padding-left: 2px;
  padding-right: 2px;
}

.text-center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.sb-icon {
  color: #673ab7 !important;
  border: 2px solid !important;
}

.center {
  justify-content: center;
}
